*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  background-color: #EDEAE8;
}

body {
  margin: 0;
  color: #0A0605;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-family: Quicksand, non-serif;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Martel, serif;
}

h2 {
  text-transform: uppercase;
  color: #813746;
}

.cast {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.cast__actor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
}

.cast__image {
  border-radius: 50%;
}

.cast__name {
  text-align: center;
}

@media (min-width: 768px) {
  .cast {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.hero {
  position: relative;
  height: 107vh;
  margin-top: -5vh;
  background-image: url(../img/hands-floor-2048.jpg);
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: 35% center;
  background-repeat: no-repeat;
}

.hero__logo {
  position: absolute;
  bottom: 8vh;
  right: 5vw;
}

@media (min-width: 768px) {
  .hero__logo {
    bottom: 12vh;
    right: 5vw;
  }
}

.images img {
  display: block;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.synopsis {
  max-width: 85%;
  margin: 0 auto;
  line-height: 1.7;
  padding-top: 1.5em;
}

.credits {
  margin: 0 auto;
  width: 70%;
  min-width: 300px;
  max-width: 450px;
  padding: 2em;
  border: 5px solid #0A0605;
  background-color: #FFFFFF;
}

.credits__title, .credits__cast {
  margin: 0;
  padding: 0;
}

.credits__cast {
  text-align: right;
}

.credits__pair {
  margin-bottom: 0.7em;
  line-height: 1.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto/(1fr)[2];
        grid-template-columns: auto/repeat(2, 1fr);
        grid-template-areas: 'i c';
  }
  .content {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: c;
    width: 50vw;
  }
  .images {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: i;
    width: 50vw;
  }
}

footer {
  background-color: #0A0605;
  padding: 3em 0;
}
/*# sourceMappingURL=main.css.map */