.main {
    padding: 2rem 0 0 0;

    &__title {
        font-size: 2.44rem;
        color: $primary;
        font-weight: bold;
        margin: 0 0 0.3em 0;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2em 0;
}

.synopsis {
    margin: 0 auto;
    line-height: 1.7;
}

.cast {
    margin: 1.5em 0;
}

.credits {
    margin: 10vh auto 10vh auto;
    padding: 1em;
    border: 5px solid $black;
    background-color: $white;
    width: 60%;
    min-width: 300px;
    max-width: 450px;
    box-shadow: 20px 20px 0px 0px $primary;
    -webkit-box-shadow: 20px 20px 0px 0px $primary;
    -moz-box-shadow: 20px 20px 0px 0px $primary;
    
    &__title {
        text-transform: uppercase;
        color: $primary;
        font-weight: bold;
    }

    &__title,
    &__cast {
        margin: 0;
        padding: 0;
    }

    &__pair {
        margin-bottom: 1.2em;
    }
}


@media (min-width: 768px) {
    .credits {
        padding: 1.5em;
        width: 85%;
        

        &__pair {
            margin-bottom: 0.7em;
            line-height: 1.8;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

// Arma las dos columnas de main en tamaños desktop
@media (min-width: 1200px) {
    .main {
        display: grid;
        grid-template-columns: auto / repeat(2, 1fr);
        grid-template-areas: 
            'i c';
        padding: 0;
    }

    .content {
        grid-area: c;
        width: 48vw;
    }

    .credits {
        margin: 18vh auto 18vh auto;
    }

    .images {
        grid-area: i;
        width: 50vw;
    }

    .cast {
        margin: 0;
    }
}