.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.synopsis {
    max-width: 85%;
    margin: 0 auto;
    line-height: 1.7;
    padding-top: 1.5em;
}

.credits {
    margin: 0 auto;
    width: 70%;
    min-width: 300px;
    max-width: 450px;
    padding: 2em;
    border: 5px solid $black;
    background-color: $white;
    
    &__title,
    &__cast {
        margin: 0;
        padding: 0;
    }

    &__cast {
        text-align: right;
    }

    &__pair {
        margin-bottom: 0.7em;
        line-height: 1.8;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


// Arma las dos columnas de main en tamaños desktop
@media (min-width: 1200px) {
    .main {
        display: grid;
        grid-template-columns: auto / repeat(2, 1fr);
        grid-template-areas: 
            'i c';
    }

    .content {
        grid-area: c;
        width: 50vw;
    }

    .images {
        grid-area: i;
        width: 50vw;
    }
}