.hero {
    position: relative;
    height: 107vh;
    margin-top: -5vh;
    background-image: url(../img/hands-floor-2048.jpg);
    max-width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: 35% center;
    background-repeat: no-repeat;


    &__logo {
        position: absolute;
        bottom: 10vh;
        right: 5vw;
    }
}

@media (max-width: 360px){
    .hero {
        background-image: url(../img/hands-floor-360.jpg);
    }
}

@media (min-width: 768px) {
    .hero__logo {
        bottom: 15vh;
        right: 5vw;
    }
}