.hero {
    position: relative;

    &__logo {
        position: absolute;
        bottom: 15vh;
        right: 5vw;
    }
}

@media (min-width: 768px) {
    .hero__logo {
        bottom: 15vh;
        right: 5vw;
    }
}